@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         Nocturne
    @description  A smooth, rounded theme.
    @author       Zhaak#3289
    @namespace    https://github.com/Hyperbeam
    @version      1.1.0
    ==/UserStyle== */

    /* || ➕ Addons */
    @import url('https://Hyperbeam.github.io/Nocturne/src/vendors/friends-grid.css');
    /* @import url('https://Hyperbeam.github.io/Nocturne/src/vendors/horizontal-server-list.css'); */
    @import url('https://Hyperbeam.github.io/Nocturne/src/vendors/iconsax-discord.css');

    /* || 🎨 Theme Palettes
    * At least one theme palette must be enabled for the theme to properly display.
    * For theme previews, please check out the preview markdown file on the repo.
    */
    @import url('https://Hyperbeam.github.io/Nocturne/src/themes/Nocturne-default.css');
    /* @import url('https://Hyperbeam.github.io/Nocturne/src/themes/midnight-mars.css'); */
    /* @import url('https://Hyperbeam.github.io/Nocturne/src/themes/nord.css'); */

    /* || 📢 Source */
    @import url('https://Hyperbeam.github.io/Nocturne/src/source.css');

    :root {
        --essence-app-rounding: 6px;
        --essence-app-padding: 18px;
        --essence-default-rounding: 6px;
        --essence-default-padding: 10px;
        /* --essence-app-background-image: none; */ /* uncomment this if you want to remove the background image */
    }
}